@import "css_rwd_common.css";
.commonBanner {
  display: block;
  text-align: center;
}
.commonBanner img {
  width: 100%;
  height: auto;
}

img {
  transition: 0.3s all ease-in-out;
}

.noidung {
  padding: 0;
}
.noidung a:hover {
  color: #007ed9 !important;
}

.openSub {
  display: none;
}

.openList {
  display: none;
}

.name:hover {
  color: #007ed9 !important;
}

.imageRatio {
  aspect-ratio: var(--ratio);
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
}

#bttop {
  position: fixed;
  right: 0.625rem;
  bottom: 0.625rem;
  font-size: 1.5625rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #ccc;
  border-radius: 0.25rem;
  line-height: 2.5rem;
  text-align: center;
  z-index: 10;
  display: none;
  transition: none;
}
#bttop:hover {
  text-decoration: none;
  background: #007ed9;
  color: #fff;
}

.openList,
.openSub,
.btn_divSearchPage {
  display: none;
}

@media (max-width: 1199px) {
  .openList {
    display: block;
    width: 2.5rem;
    margin-left: 0.9375rem;
    position: relative;
    z-index: 22;
  }
  .openList hr {
    -moz-transition: 0.5s all ease-in-out;
    background: #000;
    border: 1px solid #000;
    transition: 0.5s all ease-in-out;
    z-index: 98;
    opacity: 1;
    margin: 0.625rem 0;
  }
  .openList hr:first-child {
    margin-top: 0;
  }
  .openList hr:last-child {
    margin-bottom: 0;
  }
  .openList.ac {
    position: relative;
    z-index: 21;
  }
  .openList.ac hr:nth-child(2) {
    opacity: 0;
  }
  .openList.ac hr:nth-child(1) {
    background: #fff;
    border-color: #fff;
    transform: rotate(135deg) translateX(3px) translateY(-9px);
  }
  .openList.ac hr:nth-child(3) {
    background: #fff;
    border-color: #fff;
    transform: rotate(-135deg) translateX(7px) translateY(14px);
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
    display: none;
  }
  .wrp {
    max-width: calc(100vw - 2.5rem);
  }
  .wrp .wrp {
    width: 100%;
  }
  header {
    min-height: 270px;
  }
  #container .wrp .container {
    width: 100%;
    max-width: none;
  }
  #container .wrp .container .colLeft {
    width: 72%;
  }
  #container .wrp .container .colRight {
    width: 26%;
  }
  #container.inside {
    margin-bottom: 20px;
  }
  #container.inside .wrp .container .colLeft {
    width: 72%;
  }
  .menu {
    padding: 10px 0;
  }
  .menu.menuFoot {
    display: none;
  }
  .menu .wrp .searchBox {
    flex: 1;
  }
  .menu .wrp .menuMain {
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    background: #fff;
    height: 100vh;
    width: 80vw;
    z-index: 21;
    transition: 0.3s all ease-in-out;
    display: block;
    padding: 1.25rem 0;
    transition: 0.3s all ease-in-out;
    display: block;
  }
  .menu .wrp .menuMain.active {
    left: 0;
  }
  .menu .wrp .menuMain .openSub {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    font-size: 1.25rem;
  }
  .menu .wrp .menuMain .openSub.ac i:before {
    content: "\f106";
  }
  .menu .wrp .menuMain li {
    display: flex;
    padding: 0;
    position: relative !important;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu .wrp .menuMain li a {
    background: transparent !important;
    display: flex;
    padding: 7px 20px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-right: none;
    flex: 1;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
  }
  .menu .wrp .menuMain li.active a {
    background: #007ed9 !important;
    color: #fff !important;
  }
  .menu .wrp .menuMain li:hover > ul,
  .menu .wrp .menuMain li:hover .menuSub {
    display: none;
  }
  .menu .wrp .menuMain li:hover > a {
    background: transparent;
  }
  .menu .wrp .menuMain li ul {
    text-transform: none;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    padding: 0;
    padding-left: 0.625rem;
    transition: none;
    height: auto;
    display: none;
    width: 100%;
    position: static;
    background: transparent;
    box-shadow: none;
  }
  .menu .wrp .menuMain li ul li a {
    padding: 7px 16px;
    white-space: normal;
    font-weight: normal;
    border: none;
  }
  .menu .wrp .menuMain li ul li a > i {
    display: none;
  }
  .menu .wrp .menuMain.ac {
    left: 0;
  }
  #bttop {
    display: none !important;
  }
  .commonNameCate {
    font-size: 18px;
    padding: 10px 0;
  }
  #leader .leader_right {
    padding: 20px;
  }
  #leader .leader_right .title {
    font-size: 21px;
    line-height: 30px;
    width: 100%;
  }
  #document .pagging {
    margin-bottom: 50px;
  }
}
@media (max-width: 991px) {
  #container .wrp .container {
    flex-wrap: wrap;
  }
  #container .wrp .container .colLeft {
    width: 100%;
    margin-bottom: 30px;
  }
  #container .wrp .container .colRight {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #container .wrp .container .colRight > * {
    width: 100%;
  }
  #container.inside {
    margin-bottom: 20px;
  }
  #container.inside .wrp .container .colLeft {
    width: 100%;
    margin-bottom: 30px;
  }
  #newsHot .newsHot-left {
    width: 63%;
    margin-bottom: 20px;
  }
  #newsHot .newsHot-right {
    width: 35%;
  }
  #newsHot .newsHot-right .group {
    height: 313px !important;
  }
  .bannerLink {
    gap: 10px;
  }
  .bannerLink .commonBanner {
    width: calc((100% - 20px) / 3);
  }
  #documentHome {
    flex-direction: column;
  }
  .cateRight > ul li a {
    padding: 10px 20px;
  }
  header .wrp .logo .text {
    font-size: 30px;
    line-height: 40px;
  }
  footer .wrp .right {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  #leader {
    flex-direction: column-reverse;
  }
  #leader .leader_left {
    width: 100%;
  }
  #leader .leader_right {
    width: 100%;
    margin-bottom: 30px;
  }
  #document.list .documentFormSearch .group {
    flex-wrap: wrap;
  }
  #document.list .documentFormSearch .group .item {
    width: calc((100% - 32px) / 3);
    flex: none;
  }
  #document.list .table tr th:nth-child(3) {
    width: 400px;
  }
  #document.detail .content .item .left {
    width: 200px;
  }
  #survey.form .formSurvey .col-md-2 {
    white-space: nowrap;
    width: 20%;
  }
  #survey.form .formSurvey .col-md-4 {
    width: 30%;
  }
  #survey.form .formSurvey .col-md-10 {
    width: 80%;
  }
  #survey.detail .contentSurvey .item {
    gap: 20px;
  }
  #survey.detail .contentSurvey .item .label {
    width: 240px;
  }
}
@media (max-width: 991px) and (min-width: 480px) {
  #container .wrp .container .colRight .commonBanner {
    width: 49%;
  }
  #container .wrp .container .colRight .cb {
    display: none;
  }
  #nguoiphatngon .content {
    width: 100%;
    display: flex;
  }
  #nguoiphatngon .content .imageRatio {
    width: 50%;
  }
  #nguoiphatngon .content .imageRatio + div {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  #nguoiphatngon .content .imageRatio + div > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #nguoiphatngon .content .imageRatio + div > * * {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .wrp {
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
  }
}
@media (max-width: 479px) {
  header {
    min-height: 240px;
  }
  header .wrp .logo svg {
    width: 100px;
    height: 100px;
  }
  header .wrp .logo .text {
    font-size: 18px;
    line-height: 26px;
  }
  #newsHot {
    flex-direction: column;
  }
  #newsHot .newsHot-left {
    width: 100%;
  }
  #newsHot .newsHot-left .group .item .text {
    font-size: 16px;
    line-height: 24px;
    bottom: 40px;
  }
  #newsHot .newsHot-right {
    width: 100%;
  }
  #container .wrp .container {
    margin-bottom: 20px;
  }
  .commonSlideBanner {
    padding-top: 20px;
  }
  .bannerLink {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .bannerLink .commonBanner {
    width: 100%;
  }
  .commonTop .viewAll {
    display: none;
  }
  .commonNameCate {
    line-height: 30px;
  }
  #newsHome .parent .group {
    flex-direction: column;
  }
  #newsHome .parent .group .main {
    width: 100%;
    margin-bottom: 12px;
    padding: 0;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 12px;
  }
  #newsHome .parent .group .right {
    padding: 0;
    border: none;
  }
  .cateRight ul li a {
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .container + .bannerLink {
    padding-top: 0;
    border: none;
    margin-top: -10px;
  }
  #documentHome .parent .table-responsive table tbody tr:nth-child(2n) {
    background: #c5def6;
  }
  #documentHome .parent .table-responsive table tbody tr td {
    display: block;
  }
  #bannerFoot .logo {
    gap: 10px;
  }
  #bannerFoot .logo .text {
    font-size: 15px;
  }
  footer .wrp {
    flex-direction: column;
  }
  footer .wrp .left table td:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  footer .wrp .right {
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  #copyright {
    text-align: center;
  }
  #galleryHome {
    margin-bottom: 50px;
  }
  #news.list .listData .item {
    flex-direction: column;
  }
  #news.list .listData .item .image {
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  #news.list .listData .item .info .name {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
  }
  #news.detail .attachments .item {
    flex-direction: column;
  }
  #news.detail .attachments .item .title {
    display: none;
  }
  #news.detail .attachments .item:first-child .title {
    display: block;
  }
  #news.detail .attachments .item .attachments_name {
    flex-direction: column;
    gap: 0;
  }
  #news.detail .otherNews .group {
    gap: 20px;
  }
  #news.detail .otherNews .group .item {
    width: calc((100% - 20px) / 2);
  }
  #news.detail .moreNews .listData .item {
    flex-direction: column;
  }
  #news.detail .moreNews .listData .item .image {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .pagging {
    flex-direction: column;
    gap: 10px;
  }
  .pagging ul + span {
    display: none;
  }
  .commonTitle {
    font-size: 25px;
    line-height: 35px;
  }
  #leader .leader_right {
    padding: 20px;
  }
  #leader .leader_right .title {
    font-size: 18px;
    line-height: 25px;
  }
  #leader .leader_right .group .bound .item {
    width: 90%;
  }
  #document.list .documentFormSearch {
    padding: 15px;
  }
  #document.list .documentFormSearch .group {
    flex-wrap: wrap;
  }
  #document.list .documentFormSearch .group .item {
    width: calc((100% - 16px) / 2);
    flex: none;
  }
  #document.detail .content .item {
    gap: 5px;
    flex-direction: column;
  }
  #document.detail .content .item > * {
    width: 100%;
  }
  #document.detail .content .item .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  #survey.form .description {
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
  }
  #survey.form .formSurvey .row {
    gap: 10px;
    margin-bottom: 10px;
  }
  #survey.form .formSurvey .row .col-md-2,
  #survey.form .formSurvey .row .col-md-4,
  #survey.form .formSurvey .row .col-md-10 {
    width: 100%;
  }
  #survey.form .formSurvey .row .capcha {
    flex-direction: column;
  }
  #survey.form .formSurvey .row .capcha > *,
  #survey.form .formSurvey .row .capcha .btnSubmitForm {
    width: 100%;
    text-align: center;
  }
  #survey.detail .contentSurvey .item {
    gap: 5px;
    flex-direction: column;
  }
  #survey.detail .contentSurvey .item .label {
    width: 100%;
  }
  #survey.detail .contentSurvey .item .value {
    width: 100%;
    flex: none;
  }
}
@media (max-width: 320px) {
  :root {
    font-size: 14px;
  }
  .openList {
    width: 2.1875rem;
  }
}/*# sourceMappingURL=css_rwd.css.map */