@import "common";
@import "css_rwd_common.css";

@media (max-width: 1199px) {
  .openList {
    display: block;
    width: ptr(40);
    margin-left: ptr(15);
    position: relative;
    z-index: 22;
    hr {
      -moz-transition: 0.5s all ease-in-out;
      background: #000;
      border: 1px solid #000;
      transition: 0.5s all ease-in-out;
      z-index: 98;
      opacity: 1;
      margin: ptr(10) 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.ac {
      position: relative;
      z-index: 21;
      hr:nth-child(2) {
        opacity: 0;
      }
      hr:nth-child(1) {
        background: #fff;
        border-color: #fff;
        transform: rotate(135deg) translateX(3px) translateY(-9px);
      }
      hr:nth-child(3) {
        background: #fff;
        border-color: #fff;
        transform: rotate(-135deg) translateX(7px) translateY(14px);
      }
    }
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
    display: none;
  }
  .wrp {
    max-width: calc(100vw - #{ptr(40)});
    .wrp {
      width: 100%;
    }
  }
  header {
    min-height: 270px;
  }
  #container {
    .wrp {
      .container {
        width: 100%;
        max-width: none;
        .colLeft {
          width: 72%;
        }
        .colRight {
          width: 26%;
        }
      }
    }
    &.inside {
      margin-bottom: 20px;
      .wrp {
        .container {
          .colLeft {
            width: 72%;
          }
        }
      }
    }
  }
  .menu {
    padding: 10px 0;
    &.menuFoot {
      display: none;
    }
    .wrp {
      .searchBox {
        flex: 1;
      }
      .menuMain {
        position: fixed;
        top: 0;
        left: -100%;
        overflow-y: auto;
        background: #fff;
        height: 100vh;
        width: 80vw;
        z-index: 21;
        transition: 0.3s all ease-in-out;
        display: block;
        padding: ptr(20) 0;
        transition: 0.3s all ease-in-out;
        display: block;
        &.active {
          left: 0;
        }
        .openSub {
          display: flex;
          align-items: center;
          justify-content: center;
          width: ptr(50);
          font-size: ptr(20);
          &.ac {
            i:before {
              content: "\f106";
            }
          }
        }
        li {
          display: flex;
          padding: 0;
          position: relative !important;
          justify-content: space-between;
          flex-wrap: wrap;
          a {
            background: transparent !important;
            display: flex;
            padding: 7px 20px;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            border-right: none;
            flex: 1;
            font-family: Roboto;
            font-weight: normal;
            font-size: 14px;
          }
          &.active a {
            background: $color-hover !important;
            color: #fff !important;
          }
          &:hover {
            > ul,
            .menuSub {
              display: none;
            }

            > a {
              background: transparent;
            }
          }
          ul {
            text-transform: none;
            visibility: visible;
            opacity: 1;
            pointer-events: all;
            padding: 0;
            padding-left: ptr(10);
            transition: none;
            height: auto;
            display: none;
            width: 100%;
            position: static;
            background: transparent;
            box-shadow: none;
            li {
              a {
                padding: 7px 16px;
                white-space: normal;
                font-weight: normal;
                border: none;
                > i {
                  display: none;
                }
              }
            }
          }
        }
        &.ac {
          left: 0;
        }
      }
    }
  }
  #bttop {
    display: none !important;
  }
  .commonNameCate {
    font-size: 18px;
    padding: 10px 0;
  }
  #leader {
    .leader_right {
      padding: 20px;
      .title {
        font-size: 21px;
        line-height: 30px;
        width: 100%;
      }
    }
  }
  #document {
    .pagging {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 991px) {
  #container {
    .wrp {
      .container {
        flex-wrap: wrap;
        .colLeft {
          width: 100%;
          margin-bottom: 30px;
        }
        .colRight {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          > * {
            width: 100%;
          }
        }
      }
    }
    &.inside {
      margin-bottom: 20px;
      .wrp {
        .container {
          .colLeft {
            width: 100%;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  #newsHot {
    .newsHot-left {
      width: 63%;
      margin-bottom: 20px;
    }
    .newsHot-right {
      width: 35%;
      .group {
        height: 313px !important;
      }
    }
  }

  .bannerLink {
    gap: 10px;
    .commonBanner {
      width: calc((100% - 20px) / 3);
    }
  }
  #documentHome {
    flex-direction: column;
  }
  .cateRight > ul li a {
    padding: 10px 20px;
  }
  header .wrp .logo .text {
    font-size: 30px;
    line-height: 40px;
  }
  footer {
    .wrp {
      .right {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
      }
    }
  }
  #leader {
    flex-direction: column-reverse;
    .leader_left {
      width: 100%;
    }
    .leader_right {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  #document {
    &.list {
      .documentFormSearch .group {
        flex-wrap: wrap;
        .item {
          width: calc((100% - 32px) / 3);
          flex: none;
        }
      }
      .table tr {
        th:nth-child(3) {
          width: 400px;
        }
      }
    }
    &.detail {
      .content {
        .item {
          .left {
            width: 200px;
          }
        }
      }
    }
  }
  #survey {
    &.form {
      .formSurvey {
        .col-md-2 {
          white-space: nowrap;
          width: 20%;
        }
        .col-md-4 {
          width: 30%;
        }
        .col-md-10 {
          width: 80%;
        }
      }
    }
    &.detail {
      .contentSurvey {
        .item {
          gap: 20px;
          .label {
            width: 240px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) and (min-width: 480px) {
  #container .wrp {
    .container {
      .colRight {
        .commonBanner {
          width: 49%;
        }
        .cb {
          display: none;
        }
      }
    }
  }
  #nguoiphatngon {
    .content {
      width: 100%;
      display: flex;
      .imageRatio {
        width: 50%;
        + div {
          flex: 1;
          display: flex;
          flex-direction: column;
          > * {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            * {
              font-size: 16px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .wrp {
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
  }
}

@media (max-width: 479px) {
  header {
    min-height: 240px;
    .wrp .logo {
      svg {
        width: 100px;
        height: 100px;
      }
      .text {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
  #newsHot {
    flex-direction: column;
    .newsHot-left {
      width: 100%;
      .group {
        .item {
          .text {
            font-size: 16px;
            line-height: 24px;
            bottom: 40px;
          }
        }
      }
    }
    .newsHot-right {
      width: 100%;
    }
  }
  #container {
    .wrp {
      .container {
        margin-bottom: 20px;
      }
    }
  }
  .commonSlideBanner {
    padding-top: 20px;
  }
  .bannerLink {
    flex-direction: column;
    .commonBanner {
      width: 100%;
    }
    margin-bottom: 20px;
  }
  .commonTop {
    .viewAll {
      display: none;
    }
  }
  .commonNameCate {
    line-height: 30px;
  }
  #newsHome {
    .parent {
      .group {
        flex-direction: column;
        .main {
          width: 100%;
          margin-bottom: 12px;
          padding: 0;
          border-bottom: 1px solid rgb(224, 224, 224);
          padding-bottom: 12px;
        }
        .right {
          padding: 0;
          border: none;
        }
      }
    }
  }
  .cateRight {
    ul li {
      a {
        padding: 10px;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .container + .bannerLink {
    padding-top: 0;
    border: none;
    margin-top: -10px;
  }
  #documentHome .parent .table-responsive table tbody tr {
    &:nth-child(2n) {
      background: #c5def6;
    }
    td {
      display: block;
    }
  }
  #bannerFoot {
    .logo {
      gap: 10px;
      .text {
        font-size: 15px;
      }
    }
  }
  footer {
    .wrp {
      flex-direction: column;
      .left {
        table {
          td:first-child {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
      .right {
        margin-top: 20px;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
      }
    }
  }
  #copyright {
    text-align: center;
  }
  #galleryHome {
    margin-bottom: 50px;
  }
  #news {
    &.list {
      .listData {
        .item {
          flex-direction: column;
          .image {
            margin: 0;
            width: 100%;
            margin-bottom: 10px;
          }
          .info {
            .name {
              font-size: 18px;
              line-height: 28px;
              font-weight: 600;
            }
          }
        }
      }
    }
    &.detail {
      .attachments {
        .item {
          flex-direction: column;
          .title {
            display: none;
          }
          &:first-child {
            .title {
              display: block;
            }
          }
          .attachments_name {
            flex-direction: column;
            gap: 0;
          }
        }
      }
      .otherNews {
        .group {
          gap: 20px;
          .item {
            width: calc((100% - 20px) / 2);
          }
        }
      }
      .moreNews {
        .listData {
          .item {
            flex-direction: column;
            .image {
              width: 100%;
              margin: 0;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .pagging {
    flex-direction: column;
    gap: 10px;
    ul + span {
      display: none;
    }
  }
  .commonTitle {
    font-size: 25px;
    line-height: 35px;
  }
  #leader {
    .leader_right {
      padding: 20px;
      .title {
        font-size: 18px;
        line-height: 25px;
      }
      .group {
        .bound {
          .item {
            width: 90%;
          }
        }
      }
    }
  }
  #document {
    &.list {
      .documentFormSearch {
        padding: 15px;
        .group {
          flex-wrap: wrap;
          .item {
            width: calc((100% - 16px) / 2);
            flex: none;
          }
        }
      }
    }
    &.detail {
      .content {
        .item {
          gap: 5px;
          flex-direction: column;
          > * {
            width: 100%;
          }
          .right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
          }
        }
      }
    }
  }
  #survey {
    &.form {
      .description {
        padding: 20px;
        font-size: 16px;
        line-height: 24px;
      }
      .formSurvey {
        .row {
          gap: 10px;
          margin-bottom: 10px;
          .col-md-2,
          .col-md-4,
          .col-md-10 {
            width: 100%;
          }
          .capcha {
            flex-direction: column;
            > *,
            .btnSubmitForm {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
    &.detail {
      .contentSurvey {
        .item {
          gap: 5px;
          flex-direction: column;
          .label {
            width: 100%;
          }
          .value {
            width: 100%;
            flex: none;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  :root {
    font-size: 14px;
  }
  .openList {
    width: ptr(35);
  }
}
